
<div class="page" id="appointment">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">预约挂号</h1>
    </header>
    <!-- 内容区 -->
    <div class="content content_2">
        <!-- 简介 -->
        <div class="list-block media-list list-block_1">
            <ul>
                <li>
                    <a href="#/hospital" class="item-content">
                        <div class="item-media"><img src="../img/hospital_default.png" style='width: 4rem;'></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">河川市第一人民医院</div>
                                <div class="item-after">预约量:537</div>
                            </div>
                            <div class="item-subtitle">三级甲等</div>
                            <div class="item-text">地址:武山区平西街道广齐路3380号.</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 科室列表 -->
        <div class="list-block">
            <ul>
                <li class="item-content" ng-repeat="x in department" ng-click="showdoctorlist()">
                    <div class="item-inner">
                        <div class="item-center">{{x}}</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
