 <div class="page" id="hospital">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">医院简介</h1>
    </header>
    <!-- 内容区 -->
    <div class="content">
        <!-- 医院联系 -->
        <div class="card demo-card-header-pic">
            <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="../img/hospital_default.png" alt="">
            </div>
            <div class="card-header">{{hospinfo.name}}</div>
            <div class="card-content">
                <div class="card-content-inner">
                    <p><span class="icon icon-phone mr5"></span><a href="tel:{{hospinfo.phone}}">{{hospinfo.phone}}</a></p>
                    <p><span class="icon icon-home mr5"></span>{{hospinfo.address}}</p>
                </div>
            </div>
        </div>

        <div class="card" ng-repeat="(key,val) in hospital">
            <div class="card-header">
                {{key}}
                <span class="icon {{val.stretchFlag ? 'icon-down' : 'icon-right'}} pull-right" ng-click="toggleStretch()"></span>
            </div>
            <div class="card-content">
                <div class="card-content-inner">
                    <p class="hospIntro {{val.stretchFlag ?'': 'hospIntroAll'}}">{{val.content}}</p>
                </div>
            </div>
        </div>


    </div>
</div>
