manager.html<div class="page" id="manager">
    <div class="content">
        <!--侧栏-->
        <div class="panel panel-left panel-reveal theme-dark">
            <div class="content-block">
                <p>门诊管理系统 v1.0.0</p>
            </div>
            <div class="list-block">
                <div class="list-block">
                    <ul>
                        <li class="item-link" href="#/manager">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">统计信息</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/docmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医生管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/patmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">患者管理</div>
                                </div>
                            </div>
                        </li>
                        <li class=" active item-link" href="#/appointmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">订单管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/officemanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">科室管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/infomanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医院信息管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/bannermanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">banner管理</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="button button-light exit">注销</div>
                </div>
            </div>
        </div>

        <div class="m_content">
            <div class="buttons-tab">
                <a class="tab-link active button">
                    <span>当日订单</span>
                </a>
                <a class="tab-link button">
                    <span>搜索订单</span>
                </a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div class="tab active">
                        <div class="content-block">
                            <!-- 今日订单列表 -->
                            <div class="content-block animated fadeIn">
                                <div class="list-block tab-content">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">订单编号</div>
                                                <div class="item-title">医生姓名</div>
                                                <div class="item-title">患者姓名</div>
                                                <div class="item-title">预约时间</div>
                                                <div class="item-title">预约地点</div>
                                                <div class="item-title">预约状态</div>
                                                <div class="item-title">订单操作</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="item-content" ng-repeat="appoint in appointmentList">
                                            <div class="item-inner">
                                                <div class="item-title">{{appoint.id}}</div>
                                                <div class="item-title">{{appoint.docname}}</div>
                                                <div class="item-title">{{appoint.patname}}</div>
                                                <div class="item-title">{{appoint.time}}</div>
                                                <div class="item-title">{{appoint.address}}</div>
                                                <div class="item-title">{{appoint.status}}</div>
                                                <div class="item-title">
                                                    <span class="button button-green" ng-click="editAppointInfo()">编辑</span>
                                                    <!--<span class="button button-red" ng-click="deleteDoctorInfo()">删除</span>-->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="content-block">
                            <!-- 搜索栏 -->
                            <div class="content-block">
                                <div class="searchbar row">
                                    <div class="search-input col-80">
                                        <label class="icon icon-search" for="search"></label>
                                        <input type="search" id='search' placeholder='输入医生姓名/患者姓名'/>
                                    </div>
                                    <a class="button button-fill button-primary col-20" ng-click="getSearchResult()">搜索</a>
                                </div>
                            </div>
                            <!-- 搜索结果 -->
                            <div class="content-block">
                                <div class="list-block tab-content">
                                    <ul ng-show="searchappoint.length > 0">
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">订单编号</div>
                                                <div class="item-title">医生姓名</div>
                                                <div class="item-title">患者姓名</div>
                                                <div class="item-title">预约时间</div>
                                                <div class="item-title">预约地点</div>
                                                <div class="item-title">预约状态</div>
                                                <div class="item-title">订单操作</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="searchresult">
                                        <li class="item-content animated fadeIn" ng-repeat="appoint in searchappoint">
                                            <div class="item-inner">
                                                <div class="item-title">{{appoint.id}}</div>
                                                <div class="item-title">{{appoint.docname}}</div>
                                                <div class="item-title">{{appoint.patname}}</div>
                                                <div class="item-title">{{appoint.time}}</div>
                                                <div class="item-title">{{appoint.address}}</div>
                                                <div class="item-title">{{appoint.status}}</div>
                                                <div class="item-title">
                                                    <span class="button button-green" ng-click="editAppointInfo()">编辑</span>
                                                    <!--<span class="button button-red" ng-click="deleteDoctorInfo()">删除</span>-->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="content-block">
                            <p>This is tab 3 content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="appointmentModel">
    <div class="list-block">
        <form id="u_appoint">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon "></i></div>
                        <div class="item-inner">
                            <div class="item-title label">订单编号</div>
                            <div class="item-input">
                                <input type="text" name="a_id" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon "></i></div>
                        <div class="item-inner">
                            <div class="item-title label">医生姓名</div>
                            <div class="item-input">
                                <input type="text" name="a_docname" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon "></i></div>
                        <div class="item-inner">
                            <div class="item-title label">患者姓名</div>
                            <div class="item-input">
                                <input type="text" name="a_patname" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon "></i></div>
                        <div class="item-inner">
                            <div class="item-title label">预约时间</div>
                            <div class="item-input">
                                <input type="text" name="a_time" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">预约地点</div>
                            <div class="item-input">
                                <input type="text" name="a_address" placeholder="请输入预约地点">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">预约状态</div>
                            <div class="item-input">
                                <select name="a_status">
                                    <option value="未完成">未完成</option>
                                    <option value="已预约">已预约</option>
                                    <option value="已完成">已完成</option>
                                    <option value="已取消">已取消</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </form>
    </div>
</script>

