<div class="page" id="bannermanage">
    <div class="content">
        <!--侧栏-->
        <div class="panel panel-left panel-reveal theme-dark">
            <div class="content-block">
                <p>门诊管理系统 v1.0.0</p>
            </div>
            <div class="list-block">
                <div class="list-block">
                    <ul>
                        <li class=" item-link" href="#/manager">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">统计信息</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/docmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医生管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/patmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">患者管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/appointmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">订单管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/officemanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">科室管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/infomanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医院信息管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="active item-link" href="#/bannermanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">banner管理</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="button button-light exit">注销</div>
                </div>
            </div>
        </div>

        <div class="m_content">
            <div class="buttons-tab">
                <a class="tab-link active button" ng-click="initBannerList()">
                    <span>客户端设置</span>
                </a>
                <a class="tab-link button" ng-click="initUpload()">
                    <span>文件上传</span>
                </a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div class="tab active">
                        <div class="content-block">
                            <!-- 科室列表 -->
                            <div class="content-block">
                                <div class="list-block tab-content">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">编号</div>
                                                <div class="item-title" style="width: 20rem;">名称</div>
                                                <div class="item-title">患者端</div>
                                                <div class="item-title">医生端</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="item-content animated fadeIn" ng-repeat="banner in bannerArr">
                                            <div class="item-inner">
                                                <div class="item-title">{{$index}}</div>
                                                <div class="item-title" style="width: 20rem;">{{banner.name}}</div>
                                                <div class="item-title">
                                                    <span class="button {{!!banner.patSet ? 'button-red' : 'button-grey'}}" ng-click="togglePatShow()">{{!!banner.patSet ? '隐藏' : '显示'}}</span>
                                                </div>
                                                <div class="item-title">
                                                    <span class="button {{!!banner.docSet ? 'button-red' : 'button-grey'}}" ng-click="toggleDocShow()">{{!!banner.docSet ? '隐藏' : '显示'}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="content-block">
                            <form enctype="multipart/form-data" action="/upload" method="post" target="hidden-iframe">
                                <a href='javascript:void(0);' class="blueButton">选择文件</a>
                                <input type="file" class="myFileUpload"  accept="image/png,image/jpg,image/jpeg" name="myfile">
                                <div class="show">暂无选择文件,请选择....</div>
                                <input type="submit" class="submit_btn" value="提交">
                            </form>
                            <button class="submit_btn clear_btn">重置</button>
                            <iframe name="hidden-iframe" ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

