<div class="page" id="doctormanage">
    <div class="content">
        <!--侧栏-->
        <div class="panel panel-left panel-reveal theme-dark">
            <div class="content-block">
                <p>门诊管理系统 v1.0.0</p>
            </div>
            <div class="list-block">
                <div class="list-block">
                    <ul>
                        <li class=" item-link" href="#/manager">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">统计信息</div>
                                </div>
                            </div>
                        </li>
                        <li class="active item-link" href="#/docmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医生管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/patmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">患者管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/appointmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">订单管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/officemanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">科室管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/infomanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医院信息管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/bannermanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">banner管理</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="button button-light exit">注销</div>
                </div>
            </div>
        </div>

        <div class="m_content">
            <div class="buttons-tab">
                <a class="tab-link active button">
                    <span>医生列表</span>
                </a>
                <a class="tab-link button">
                    <span>查询医生</span>
                </a>
                <a class="tab-link button">
                    <span>添加医生</span>
                </a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div class="tab active">
                        <!-- 医生列表 -->
                        <div class="content-block animated fadeIn">
                            <div class="list-block tab-content">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">医生编号</div>
                                            <div class="item-title">医生姓名</div>
                                            <div class="item-title">医生性别</div>
                                            <div class="item-title">医生手机</div>
                                            <div class="item-title">医生科室</div>
                                            <div class="item-title">登录密码</div>
                                            <div class="item-title">账户操作</div>
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="item-content" ng-repeat="doctor in alldoctor">
                                        <div class="item-inner">
                                            <div class="item-title">{{doctor.id}}</div>
                                            <div class="item-title">{{doctor.name}}</div>
                                            <div class="item-title">{{doctor.gender}}</div>
                                            <div class="item-title">{{doctor.telephone}}</div>
                                            <div class="item-title">{{doctor.department}}</div>
                                            <div class="item-title">{{doctor.password}}</div>
                                            <div class="item-title">
                                                <span class="button button-green" ng-click="editDoctorInfo()">编辑</span>
                                                <span class="button button-red" ng-click="deleteDoctorInfo()">删除</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <!-- 搜索栏 -->
                        <div class="content-block">
                            <div class="searchbar row">
                                <div class="search-input col-80">
                                    <label class="icon icon-search" for="search"></label>
                                    <input type="search" id='search' placeholder='输入医生姓名/医生编号/科室...'/>
                                </div>
                                <a class="button button-fill button-primary col-20" ng-click="getSearchResult()">搜索</a>
                            </div>
                        </div>
                        <!-- 搜索结果 -->
                        <div class="content-block">
                            <div class="list-block tab-content">
                                <ul ng-show="searchdoctor.length > 0">
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">医生编号</div>
                                            <div class="item-title">医生姓名</div>
                                            <div class="item-title">医生性别</div>
                                            <div class="item-title">医生手机</div>
                                            <div class="item-title">医生科室</div>
                                            <div class="item-title">登录密码</div>
                                            <div class="item-title">账户操作</div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="searchresult">
                                    <li class="item-content animated fadeIn" ng-repeat="doctor in searchdoctor">
                                        <div class="item-inner">
                                            <div class="item-title">{{doctor.id}}</div>
                                            <div class="item-title">{{doctor.name}}</div>
                                            <div class="item-title">{{doctor.gender}}</div>
                                            <div class="item-title">{{doctor.telephone}}</div>
                                            <div class="item-title">{{doctor.department}}</div>
                                            <div class="item-title">{{doctor.password}}</div>
                                            <div class="item-title">
                                                <span class="button button-green" ng-click="editDoctorInfo()">编辑</span>
                                                <span class="button button-red" ng-click="deleteDoctorInfo()">删除</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="list-block animated fadeInUp">
                            <form id="d_info">
                                <ul>
                                    <!-- Text inputs -->
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">姓名</div>
                                                <div class="item-input">
                                                    <input type="text" name="d_name" placeholder="请输入姓名">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">密码</div>
                                                <div class="item-input">
                                                    <input type="password" name="d_password" placeholder="请输入密码" class="">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">性别</div>
                                                <div class="item-input">
                                                    <select name="d_gender">
                                                        <option value="男">男</option>
                                                        <option value="女">女</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-telephone"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">手机</div>
                                                <div class="item-input">
                                                    <input type="text" name="d_telephone" placeholder="请输入手机号" maxlength="11">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">编号</div>
                                                <div class="item-input">
                                                    <input type="text" name="d_id" placeholder="请输入医生编号">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">科室</div>
                                                <div class="item-input">
                                                    <div class="item-input">
                                                        <select name="d_department">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <div class="content-block">
                                    <div class="col-80"><a class="button button-big button-fill" ng-click="registerDoctor()">注册</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="editModel">
    <div class="list-block">
        <form id="u_info">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <input type="text" name="u_name" placeholder="请输入姓名">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-password"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">密码</div>
                            <div class="item-input">
                                <input type="text" name="u_password" placeholder="请输入密码" class="">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">性别</div>
                            <div class="item-input">
                                <select name="u_gender">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-telephone"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">手机</div>
                            <div class="item-input">
                                <input type="text" name="u_telephone" placeholder="请输入手机号" maxlength="11">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">编号</div>
                            <div class="item-input">
                                <input type="text" name="u_id" placeholder="请输入医生编号">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">科室</div>
                            <div class="item-input">
                                <select name="u_department">
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </form>
    </div>
</script>

