<div class="page" id="manager">
    <div class="content">
        <!--侧栏-->
        <div class="panel panel-left panel-reveal theme-dark">
            <div class="content-block">
                <p>门诊管理系统 v1.0.0</p>
            </div>
            <div class="list-block">
                <div class="list-block">
                    <ul>
                        <li class="active item-link" href="#/manager">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">统计信息</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/docmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医生管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/patmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">患者管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/appointmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">订单管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/officemanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">科室管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/infomanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医院信息管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/bannermanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">banner管理</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="button button-light exit">注销</div>
                </div>
            </div>
        </div>

        <div class="m_content">
            <div class="buttons-tab">
                <a class="tab-link active button" ng-click="initCountAppoint()">
                    <span>预约统计</span>
                </a>
                <a class="tab-link button" ng-click="initCountDepart()">
                    <span>人员统计</span>
                </a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div class="tab active">
                        <div class="content-block">
                            <div class="echars-content">
                                <div id="countAppoint"></div>
                                <div id="todayTime"></div>
                                <div id="weekTime"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <!--<div class="content-block">-->
                            <!--<div class="content-block office-content">-->
                                <!--&lt;!&ndash; 科室列表 &ndash;&gt;-->
                                <!--<div class="content-block">-->
                                    <!--<div class="list-block tab-content">-->
                                        <!--<ul>-->
                                            <!--<li class="item-content">-->
                                                <!--<div class="item-inner">-->
                                                    <!--<div class="item-title">科室名称</div>-->
                                                    <!--<div class="item-title">人员数量</div>-->
                                                <!--</div>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                        <!--<ul>-->
                                            <!--<li class="item-content animated fadeIn" ng-repeat="department in departmentArr">-->
                                                <!--<div class="item-inner">-->
                                                    <!--<div class="item-title">{{department.department}}</div>-->
                                                    <!--<div class="item-title">{{department.num}}</div>-->
                                                <!--</div>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                 <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="content-block">
                            <div id="countDepart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

