<div class="page" id="officemanager">
    <div class="content">
        <!--侧栏-->
        <div class="panel panel-left panel-reveal theme-dark">
            <div class="content-block">
                <p>门诊管理系统 v1.0.0</p>
            </div>
            <div class="list-block">
                <div class="list-block">
                    <ul>
                        <li class=" item-link" href="#/manager">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">统计信息</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/docmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医生管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/patmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">患者管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/appointmanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">订单管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="active item-link" href="#/officemanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">科室管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/infomanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">医院信息管理</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-link" href="#/bannermanage">
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">banner管理</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="button button-light exit">注销</div>
                </div>
            </div>
        </div>

        <div class="m_content">
            <div class="buttons-tab">
                <a class="tab-link active button">
                    <span>科室列表</span>
                </a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div class="tab active">
                        <div class="content-block office-content">
                            <!-- 科室列表 -->
                            <div class="content-block">
                                <div class="list-block tab-content">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">科室编号</div>
                                                <div class="item-title">科室名称</div>
                                                <div class="item-title">编辑操作</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="item-content animated fadeIn" ng-repeat="department in departments">
                                            <div class="item-inner">
                                                <div class="item-title">{{department.id}}</div>
                                                <div class="item-title">{{department.department}}</div>
                                                <div class="item-title">
                                                    <span class="button button-green" ng-click="showEdit()">编辑</span>
                                                    <span class="button {{!!department.ifshow ? 'button-red' : 'button-grey'}}" ng-click="toggleShow()">{{!!department.ifshow ? '隐藏' : '显示'}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content-block">
                                <div class="col-80"><a class="button button-big button-fill" ng-click="showAdd()">添加科室</a></div>
                            </div>
                            <!-- 添加科室 -->
                            <div class="content-block add-department animated fadeInUp " ng-if="showadd">
                                <div class="list-block">
                                    <h4>添加科室</h4>
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                                <div class="item-inner">
                                                    <div class="item-input">
                                                        <input type="text" name="a_department" placeholder="请输入新科室名称">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="content-block btn-group">
                                        <div class="col-50"><a class="button button-big button-fill button-danger" ng-click="cancelAddDepartment()">取消</a></div>
                                        <div class="col-50"><a class="button button-big button-fill" ng-click="addDepartment()">添加</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 编辑科室 -->
                            <div class="content-block add-department animated fadeInUp " ng-if="showedit" ng-init="initEdit()">
                                <div class="list-block">
                                    <h4>编辑科室</h4>
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                                <div class="item-inner">
                                                    <div class="item-input">
                                                        <input type="text" name="e_department" placeholder="请输入新科室名称">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="content-block btn-group">
                                        <div class="col-50"><a class="button button-big button-fill button-danger" ng-click="cancelEditDepartment()">取消</a></div>
                                        <div class="col-50"><a class="button button-big button-fill" ng-click="saveDepartment()">保存</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

