@charset "UTF-8";
* {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input {
  -webkit-user-select: auto;
  user-select: text; }

html, body {
  height: 100%; }

.mr5 {
  margin-right: .5rem; }

.ml5 {
  margin-left: .5rem; }

.mt5 {
  margin-top: .5rem; }

.mb5 {
  margin-bottom: .5rem; }

.bar_tab_1 {
  z-index: 2001;
  background: #fff;
  color: #387ef5;
  font-weight: 600; }

.content_1 {
  bottom: 2.5rem; }

.item-link_1 .item-inner .item-title {
  margin: 0 auto; }

.content-block_1, .list-block_1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1rem; }
  .content-block_1 .item-content:active, .list-block_1 .item-content:active {
    background: #eee; }

.item-media_1 img {
  width: 5rem; }

.item-title_1 {
  white-space: pre-wrap !important; }

.buttons_tab_1 {
  position: absolute;
  top: 2.2rem;
  width: 100%;
  z-index: 2002; }

.list-item:active, .list-link:active, .item-link_1:active {
  background: #eee; }

.pull-to-refresh-layer_1 {
  top: 2.2rem !important; }

/**
 * swiper 样式修改
 */
.swiper-container {
  width: 100%;
  height: 10rem;
  padding-bottom: .5rem; }
  .swiper-container .swiper-pagination-bullet-active {
    background: #fff; }
  .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: .5rem; }

/* 登录页 */
#login .logo {
  text-align: center;
  margin-top: 1rem; }
  #login .logo i {
    font-size: 6rem;
    display: block;
    color: #e43e56; }
#login .list-block {
  margin: 1.75rem .75rem; }
  #login .list-block ul {
    border-radius: .5rem; }
#login .login_row {
  margin: 0; }
  #login .login_row a {
    background: #387ef5; }
  #login .login_row a:active {
    background: #0894ec; }
#login .partion {
  text-align: center; }
  #login .partion span {
    margin: 0 4rem; }
  #login .partion a {
    color: #387ef5; }
  #login .partion a:active {
    color: #0894ec; }
#login .list-block .item-title.label {
  width: 30%; }

/** 修改标题栏 **/
.title {
  background: #387ef5;
  color: #fff; }

.back {
  color: #fff !important; }

/** 功能区 **/
#list {
  background: #fff;
  /** 图标设置 **/ }
  #list .row {
    margin: 0; }
    #list .row .list-item {
      width: 50%;
      margin: 0;
      height: 3.75rem;
      box-sizing: border-box;
      color: #000; }
      #list .row .list-item i {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0.625rem 0 0 1rem;
        width: 2.5rem;
        border-radius: 50%;
        text-align: center;
        color: #fff; }
      #list .row .list-item span {
        position: relative;
        top: .5rem;
        left: .5rem; }
      @media screen and (max-width: 320px) {
        #list .row .list-item span {
          position: relative;
          top: .5rem;
          left: .25rem; } }
  #list .row:nth-child(1) {
    border-bottom: solid 1px #eee; }
    #list .row:nth-child(1) .list-item:nth-child(1) {
      border-right: solid 1px #eee; }
      #list .row:nth-child(1) .list-item:nth-child(1) i {
        background: #ffc900; }
    #list .row:nth-child(1) .list-item:nth-child(2) i {
      background: #387ef5; }
  #list .row:nth-child(2) .list-item:nth-child(1) {
    border-right: solid 1px #eee; }
    #list .row:nth-child(2) .list-item:nth-child(1) i {
      background: #e43e56; }
  #list .row:nth-child(2) .list-item:nth-child(2) i {
    background: #0894ec; }

/**
 *  推荐医生
 */
#recommendDoc .recommmendTitle {
  width: 100%;
  line-height: 1rem;
  margin: .5rem 0 0 0;
  padding: .5rem .625rem;
  background: #fff; }
#recommendDoc .recommendItem {
  margin: 0;
  border-bottom: solid 1px #eee; }

/**
 * 医院模块
 */
#hospital .hospIntro {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-indent: 1.5rem; }
#hospital .hospIntroAll {
  -webkit-line-clamp: 5; }

/**
 * 个人信息
 */
#myintro .avator {
  width: 100%;
  height: 35%;
  color: #fff;
  background-color: #387ef5;
  text-align: center; }
  #myintro .avator img {
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 2rem; }
  #myintro .avator div {
    position: relative;
    top: 3rem; }
#myintro .list .list-block {
  margin: 0 0 0.75rem 0; }

/**
 * 预约挂号
 */
#appointment .content_2 {
  top: 1.2rem; }
  #appointment .content_2 .list-block {
    margin: 1.5rem 0; }
    #appointment .content_2 .list-block .item-text {
      height: 1.2rem; }
    #appointment .content_2 .list-block .item-center {
      margin: 0 auto; }
    #appointment .content_2 .list-block .item-inner:active {
      background: #eee; }
  #appointment .content_2 .list-block_1 {
    margin: 0; }

/* * * * * * * * * * * * * * * * * * * * * * *  医生端 * * * * * * * * * * * * * * * * * * * * * * * */
#doctor .title, #manager .title, #setting .title, #addappointment .title, #calendar .title, #healtheducation .title {
  background: #66cccc;
  color: #fff; }

#doctor {
  /** 功能区 **/ }
  #doctor #list {
    background: #fff;
    /** 图标设置 **/ }
    #doctor #list .row {
      margin: 0;
      display: flex; }
      #doctor #list .row .list-item {
        height: 5.75rem;
        box-sizing: border-box;
        color: #000; }
        #doctor #list .row .list-item i {
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin: 1rem 29% 0;
          width: 2.5rem;
          border-radius: 50%;
          text-align: center;
          color: #fff; }
        #doctor #list .row .list-item span {
          position: relative;
          top: .5rem;
          left: 1.25rem; }
        @media screen and (max-width: 320px) {
          #doctor #list .row .list-item span {
            position: relative;
            top: .5rem;
            left: .25rem; } }
    #doctor #list .list-item:nth-child(1) {
      border-right: solid 1px #eee; }
      #doctor #list .list-item:nth-child(1) i {
        background: #ffc900; }
    #doctor #list .list-item:nth-child(2) {
      border-right: solid 1px #eee; }
      #doctor #list .list-item:nth-child(2) i {
        background: #387ef5; }
    #doctor #list .list-item:nth-child(3) i {
      background: #e43e56; }

.bar_tab_2 {
  z-index: 2001;
  background: #fff;
  color: #66cccc;
  font-weight: 600; }
  .bar_tab_2 .tab-item.active {
    color: #66cccc; }

#setting .list-block_2 {
  margin: 9.75rem 0 0 0; }
#setting .list-block_3 {
  margin: 1.25rem 0; }

/*# sourceMappingURL=main.css.map */
