@charset "UTF-8";
* {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea {
  -webkit-user-select: auto;
  user-select: text; }

html, body {
  height: 100%; }

.mr5 {
  margin-right: .5rem; }

.ml5 {
  margin-left: .5rem; }

.mt5 {
  margin-top: .5rem; }

.mb5 {
  margin-bottom: .5rem; }

.bar_tab_1 {
  z-index: 2001;
  background: #fff;
  color: #387ef5;
  font-weight: 600; }

.content_1 {
  bottom: 2.5rem; }

.item-link_1 .item-inner .item-title {
  margin: 0 auto; }

.content-block_1, .list-block_1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 1rem; }
  .content-block_1 .item-content:active, .list-block_1 .item-content:active {
    background: #eee; }

.item-media_1 img {
  width: 5rem; }

.item-title_1 {
  white-space: pre-wrap !important; }

.buttons_tab_1 {
  position: absolute;
  top: 2.2rem;
  width: 100%;
  z-index: 2002; }

.list-item:active, .list-link:active, .item-link_1:active {
  background: #eee; }

.pull-to-refresh-layer_1 {
  top: 2.2rem !important; }

/**
 * swiper 样式修改
 */
.swiper-container {
  width: 100%;
  height: 10rem;
  padding-bottom: .5rem; }
  .swiper-container .swiper-pagination-bullet-active {
    background: #fff; }
  .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: .5rem; }

/* 登录页 */
#login .logo, #version .logo {
  text-align: center;
  margin-top: 1rem; }
  #login .logo i, #version .logo i {
    font-size: 6rem;
    display: block;
    color: #e43e56; }
#login .list-block, #version .list-block {
  margin: 1.75rem .75rem; }
  #login .list-block ul, #version .list-block ul {
    border-radius: .5rem; }
#login .login_row, #version .login_row {
  margin: 0; }
  #login .login_row a, #version .login_row a {
    background: #387ef5; }
  #login .login_row a:active, #version .login_row a:active {
    background: #0894ec; }
#login .partion, #version .partion {
  text-align: center; }
  #login .partion span, #version .partion span {
    margin: 0 4rem; }
  #login .partion a, #version .partion a {
    color: #387ef5; }
  #login .partion a:active, #version .partion a:active {
    color: #0894ec; }
#login .list-block .item-title.label, #version .list-block .item-title.label {
  width: 30%; }

/** 修改标题栏 **/
.title {
  background: #387ef5;
  color: #fff; }

.back {
  color: #fff !important; }

/** 功能区 **/
#list {
  background: #fff;
  /** 图标设置 **/ }
  #list .row {
    margin: 0; }
    #list .row .list-item {
      width: 50%;
      margin: 0;
      height: 3.75rem;
      box-sizing: border-box;
      color: #000; }
      #list .row .list-item i {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0.625rem 0 0 1rem;
        width: 2.5rem;
        border-radius: 50%;
        text-align: center;
        color: #fff; }
      #list .row .list-item span {
        position: relative;
        top: .5rem;
        left: .5rem; }
      @media screen and (max-width: 320px) {
        #list .row .list-item span {
          position: relative;
          top: .5rem;
          left: .25rem; } }
  #list .row:nth-child(1) {
    border-bottom: solid 1px #eee; }
    #list .row:nth-child(1) .list-item:nth-child(1) {
      border-right: solid 1px #eee; }
      #list .row:nth-child(1) .list-item:nth-child(1) i {
        background: #ffc900; }
    #list .row:nth-child(1) .list-item:nth-child(2) i {
      background: #387ef5; }
  #list .row:nth-child(2) .list-item:nth-child(1) {
    border-right: solid 1px #eee; }
    #list .row:nth-child(2) .list-item:nth-child(1) i {
      background: #e43e56; }
  #list .row:nth-child(2) .list-item:nth-child(2) i {
    background: #0894ec; }

/**
 *  推荐医生
 */
#recommendDoc .recommmendTitle {
  width: 100%;
  line-height: 1rem;
  margin: .5rem 0 0 0;
  padding: .5rem .625rem;
  background: #fff; }
#recommendDoc .recommendItem {
  margin: 0;
  border-bottom: solid 1px #eee; }

/**
 * 医院模块
 */
#hospital .hospIntro {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-indent: 1.5rem; }
#hospital .hospIntroAll {
  -webkit-line-clamp: 5; }

/**
 * 个人信息
 */
#myintro .avator {
  width: 100%;
  height: 35%;
  color: #fff;
  background-color: #387ef5;
  text-align: center; }
  #myintro .avator img {
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 2rem; }
  #myintro .avator div {
    position: relative;
    top: 3rem; }
#myintro .list .list-block {
  margin: 0 0 0.75rem 0; }

/**
 * 预约挂号
 */
#appointment .content_2 {
  top: 1.2rem; }
  #appointment .content_2 .list-block {
    margin: 1.5rem 0 0 0; }
    #appointment .content_2 .list-block .item-text {
      height: 1.2rem; }
    #appointment .content_2 .list-block .item-center {
      margin: 0 auto; }
    #appointment .content_2 .list-block .item-inner:active {
      background: #eee; }
  #appointment .content_2 .list-block_1 {
    margin: 0; }

#doctorlist .btn-group {
  overflow: auto; }
  #doctorlist .btn-group a {
    height: 3rem;
    line-height: 1.5rem; }
#doctorlist #listcontent {
  margin: 1rem 0.75rem; }
  #doctorlist #listcontent ul {
    margin-top: .5rem; }

#doctordetail .card {
  box-shadow: none;
  border-radius: .3rem; }
#doctordetail .inset {
  margin: .5rem; }
  #doctordetail .inset ul {
    margin: .5rem 0; }
    #doctordetail .inset ul li .item-subtitle {
      white-space: pre-wrap; }

#searchdoc .bar-header-secondary {
  top: 2.1rem; }
#searchdoc .searchbar {
  background: #387ef5; }
  #searchdoc .searchbar .searchbar-cancel {
    color: #ffffff; }
#searchdoc .content_2 {
  top: 4rem; }
  #searchdoc .content_2 .content-block-title {
    font-size: .8rem; }

#searchresult .layCenter {
  text-align: center;
  position: relative;
  top: 30%; }
  #searchresult .layCenter img {
    width: 5rem; }
  #searchresult .layCenter h1 {
    color: #bbb;
    font-size: 1rem; }

/* * * * * * * * * * * * * * * * * * * * * * *  医生端 * * * * * * * * * * * * * * * * * * * * * * * */
.title_1 {
  background: #66cccc;
  color: #fff; }

#doctor {
  /** 功能区 **/ }
  #doctor #list {
    background: #fff;
    /** 图标设置 **/ }
    #doctor #list .row {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex; }
      #doctor #list .row .list-item {
        height: 5.75rem;
        box-sizing: border-box;
        color: #000; }
        #doctor #list .row .list-item i {
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin: 1rem 29% 0;
          width: 2.5rem;
          border-radius: 50%;
          text-align: center;
          color: #fff; }
        #doctor #list .row .list-item span {
          position: relative;
          top: .5rem;
          left: 1.25rem; }
        @media screen and (max-width: 320px) {
          #doctor #list .row .list-item span {
            position: relative;
            top: .5rem;
            left: 1rem; } }
    #doctor #list .list-item:nth-child(1) {
      border-right: solid 1px #eee; }
      #doctor #list .list-item:nth-child(1) i {
        background: #ffc900; }
    #doctor #list .list-item:nth-child(2) {
      border-right: solid 1px #eee; }
      #doctor #list .list-item:nth-child(2) i {
        background: #387ef5; }
    #doctor #list .list-item:nth-child(3) i {
      background: #e43e56; }

.bar_tab_2 {
  z-index: 2001;
  background: #fff;
  color: #66cccc;
  font-weight: 600; }
  .bar_tab_2 .tab-item.active {
    color: #66cccc; }

#setting .list-block_2 {
  margin: 9.75rem 0 0 0; }
#setting .list-block_3 {
  margin: 1.25rem 0; }

#calendar #calendardetail .icon-only {
  visibility: hidden; }
#calendar #calendardetail .active {
  background: #e43e56;
  color: #fff; }
#calendar #calendardetail .active.selected {
  border: 1px solid #e43e56;
  color: #e43e56;
  background: transparent; }
#calendar #datelist ul {
  margin-top: .5rem; }

#addappointment #submitappointment {
  margin: 2rem .5rem; }

.icon-only {
  visibility: hidden; }

#concern .button-green, #manager .button-green, #mycase .button-green, #doctormanage .button-green, #officemanager .button-green, #patientmanager .button-green {
  border: 1px solid #66cccc;
  color: #66cccc;
  padding: 0.25rem 1rem;
  border-radius: .25rem; }
#concern .button-green:active, #manager .button-green:active, #mycase .button-green:active, #doctormanage .button-green:active, #officemanager .button-green:active, #patientmanager .button-green:active {
  border: 1px solid #66cccc;
  background: #66cccc;
  color: #fff; }
#concern .button-red, #manager .button-red, #mycase .button-red, #doctormanage .button-red, #officemanager .button-red, #patientmanager .button-red {
  border: 1px solid #e43e56;
  color: #e43e56;
  padding: 0.25rem 1rem;
  border-radius: .25rem; }
#concern .button-red:active, #manager .button-red:active, #mycase .button-red:active, #doctormanage .button-red:active, #officemanager .button-red:active, #patientmanager .button-red:active {
  border: 1px solid #e43e56;
  background: #e43e56;
  color: #fff; }
#concern .button-grey, #manager .button-grey, #mycase .button-grey, #doctormanage .button-grey, #officemanager .button-grey, #patientmanager .button-grey {
  border: 1px solid #bbb;
  color: #bbb; }
#concern .button-grey:active, #manager .button-grey:active, #mycase .button-grey:active, #doctormanage .button-grey:active, #officemanager .button-grey:active, #patientmanager .button-grey:active {
  background: #bbb;
  color: #fff; }
#concern .layCenter, #manager .layCenter, #mycase .layCenter, #doctormanage .layCenter, #officemanager .layCenter, #patientmanager .layCenter {
  text-align: center;
  position: relative;
  top: 30%; }
  #concern .layCenter img, #manager .layCenter img, #mycase .layCenter img, #doctormanage .layCenter img, #officemanager .layCenter img, #patientmanager .layCenter img {
    width: 5rem; }
  #concern .layCenter h1, #manager .layCenter h1, #mycase .layCenter h1, #doctormanage .layCenter h1, #officemanager .layCenter h1, #patientmanager .layCenter h1 {
    color: #bbb;
    font-size: 1rem; }
#concern .caseresult, #manager .caseresult, #mycase .caseresult, #doctormanage .caseresult, #officemanager .caseresult, #patientmanager .caseresult {
  padding: 0; }

#editintro [name=editintro], #modifypsd [name=editintro] {
  padding-left: 0; }
#editintro #submiteditintro, #editintro #confirmModify, #modifypsd #submiteditintro, #modifypsd #confirmModify {
  margin: 2rem .5rem; }

@media only screen and (min-width: 980px) {
  #login {
    width: 30%;
    margin: 0 auto; }

  #manager .content, #doctormanage .content, #officemanager .content, #patientmanager .content, #infomanage .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
    #manager .content .panel, #doctormanage .content .panel, #officemanager .content .panel, #patientmanager .content .panel, #infomanage .content .panel {
      display: block;
      position: relative; }
      #manager .content .panel .list-block .list-block ul li:hover, #doctormanage .content .panel .list-block .list-block ul li:hover, #officemanager .content .panel .list-block .list-block ul li:hover, #patientmanager .content .panel .list-block .list-block ul li:hover, #infomanage .content .panel .list-block .list-block ul li:hover {
        background: #efeff4; }
        #manager .content .panel .list-block .list-block ul li:hover .item-title, #doctormanage .content .panel .list-block .list-block ul li:hover .item-title, #officemanager .content .panel .list-block .list-block ul li:hover .item-title, #patientmanager .content .panel .list-block .list-block ul li:hover .item-title, #infomanage .content .panel .list-block .list-block ul li:hover .item-title {
          color: #111; }
      #manager .content .panel .list-block .list-block ul li.active, #doctormanage .content .panel .list-block .list-block ul li.active, #officemanager .content .panel .list-block .list-block ul li.active, #patientmanager .content .panel .list-block .list-block ul li.active, #infomanage .content .panel .list-block .list-block ul li.active {
        background: #efeff4; }
        #manager .content .panel .list-block .list-block ul li.active .item-title, #doctormanage .content .panel .list-block .list-block ul li.active .item-title, #officemanager .content .panel .list-block .list-block ul li.active .item-title, #patientmanager .content .panel .list-block .list-block ul li.active .item-title, #infomanage .content .panel .list-block .list-block ul li.active .item-title {
          color: #111; }
      #manager .content .panel .list-block .list-block ul li .item-inner::after, #doctormanage .content .panel .list-block .list-block ul li .item-inner::after, #officemanager .content .panel .list-block .list-block ul li .item-inner::after, #patientmanager .content .panel .list-block .list-block ul li .item-inner::after, #infomanage .content .panel .list-block .list-block ul li .item-inner::after {
        height: 0px; }
      #manager .content .panel .list-block .list-block .exit, #doctormanage .content .panel .list-block .list-block .exit, #officemanager .content .panel .list-block .list-block .exit, #patientmanager .content .panel .list-block .list-block .exit, #infomanage .content .panel .list-block .list-block .exit {
        position: absolute;
        bottom: 1rem;
        width: 80%;
        margin: 1rem;
        color: #ccc; }
      #manager .content .panel .list-block .list-block .exit:active, #manager .content .panel .list-block .list-block .exit:hover, #doctormanage .content .panel .list-block .list-block .exit:active, #doctormanage .content .panel .list-block .list-block .exit:hover, #officemanager .content .panel .list-block .list-block .exit:active, #officemanager .content .panel .list-block .list-block .exit:hover, #patientmanager .content .panel .list-block .list-block .exit:active, #patientmanager .content .panel .list-block .list-block .exit:hover, #infomanage .content .panel .list-block .list-block .exit:active, #infomanage .content .panel .list-block .list-block .exit:hover {
        background: #efeff4;
        color: #5f646e;
        border: none; }
    #manager .content .m_content, #doctormanage .content .m_content, #officemanager .content .m_content, #patientmanager .content .m_content, #infomanage .content .m_content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1; }
      #manager .content .m_content .buttons-tab .button, #doctormanage .content .m_content .buttons-tab .button, #officemanager .content .m_content .buttons-tab .button, #patientmanager .content .m_content .buttons-tab .button, #infomanage .content .m_content .buttons-tab .button {
        width: 6rem;
        height: 3rem;
        line-height: 3rem;
        border: none; }
      #manager .content .m_content .buttons-tab .button.active span, #doctormanage .content .m_content .buttons-tab .button.active span, #officemanager .content .m_content .buttons-tab .button.active span, #patientmanager .content .m_content .buttons-tab .button.active span, #infomanage .content .m_content .buttons-tab .button.active span {
        border-bottom: 2px solid #0894ec;
        line-height: inherit;
        height: inherit;
        display: inline-block; }
      #manager .content .m_content .content-block, #doctormanage .content .m_content .content-block, #officemanager .content .m_content .content-block, #patientmanager .content .m_content .content-block, #infomanage .content .m_content .content-block {
        margin: 0.75rem 0; }
      #manager .content .m_content .searchbar, #doctormanage .content .m_content .searchbar, #officemanager .content .m_content .searchbar, #patientmanager .content .m_content .searchbar, #infomanage .content .m_content .searchbar {
        width: 30rem;
        margin: 0 auto; }
      #manager .content .m_content .list-block, #doctormanage .content .m_content .list-block, #officemanager .content .m_content .list-block, #patientmanager .content .m_content .list-block, #infomanage .content .m_content .list-block {
        margin: 0.75rem 0; }
        #manager .content .m_content .list-block .item-title.label, #doctormanage .content .m_content .list-block .item-title.label, #officemanager .content .m_content .list-block .item-title.label, #patientmanager .content .m_content .list-block .item-title.label, #infomanage .content .m_content .list-block .item-title.label {
          width: 5rem; }
        #manager .content .m_content .list-block textarea, #doctormanage .content .m_content .list-block textarea, #officemanager .content .m_content .list-block textarea, #patientmanager .content .m_content .list-block textarea, #infomanage .content .m_content .list-block textarea {
          padding-top: 0.6rem; }
        #manager .content .m_content .list-block .item-title, #doctormanage .content .m_content .list-block .item-title, #officemanager .content .m_content .list-block .item-title, #patientmanager .content .m_content .list-block .item-title, #infomanage .content .m_content .list-block .item-title {
          width: 6rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex; }
          #manager .content .m_content .list-block .item-title .button-green, #manager .content .m_content .list-block .item-title .button-red, #manager .content .m_content .list-block .item-title .button-grey, #doctormanage .content .m_content .list-block .item-title .button-green, #doctormanage .content .m_content .list-block .item-title .button-red, #doctormanage .content .m_content .list-block .item-title .button-grey, #officemanager .content .m_content .list-block .item-title .button-green, #officemanager .content .m_content .list-block .item-title .button-red, #officemanager .content .m_content .list-block .item-title .button-grey, #patientmanager .content .m_content .list-block .item-title .button-green, #patientmanager .content .m_content .list-block .item-title .button-red, #patientmanager .content .m_content .list-block .item-title .button-grey, #infomanage .content .m_content .list-block .item-title .button-green, #infomanage .content .m_content .list-block .item-title .button-red, #infomanage .content .m_content .list-block .item-title .button-grey {
            padding: 0 .5rem;
            margin: 0 .2rem; }
        #manager .content .m_content .list-block .item-inner, #doctormanage .content .m_content .list-block .item-inner, #officemanager .content .m_content .list-block .item-inner, #patientmanager .content .m_content .list-block .item-inner, #infomanage .content .m_content .list-block .item-inner {
          min-height: 2.5rem; }
      #manager .content .m_content .tab-content ul, #doctormanage .content .m_content .tab-content ul, #officemanager .content .m_content .tab-content ul, #patientmanager .content .m_content .tab-content ul, #infomanage .content .m_content .tab-content ul {
        max-height: 27.5rem;
        overflow: auto; }
      #manager .content .m_content .tab-content ul.searchresult, #doctormanage .content .m_content .tab-content ul.searchresult, #officemanager .content .m_content .tab-content ul.searchresult, #patientmanager .content .m_content .tab-content ul.searchresult, #infomanage .content .m_content .tab-content ul.searchresult {
        max-height: 25rem; }

  .editdoctor {
    width: 25rem;
    transform: translate(-15%, -5%) !important; }
    .editdoctor .list-block {
      margin: 0; }

  #doctormanage #d_info {
    width: 22rem;
    margin: 0 auto; }

  #officemanager .content .m_content .office-content {
    width: 100%;
    position: relative; }
    #officemanager .content .m_content .office-content .content-block {
      width: 50%; }
    #officemanager .content .m_content .office-content .add-department {
      position: absolute;
      right: 5%;
      background: #fff;
      margin: 0;
      top: 35%;
      width: 40%;
      text-align: center; }
      #officemanager .content .m_content .office-content .add-department .content-block {
        width: 100%;
        margin: .5rem auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        #officemanager .content .m_content .office-content .add-department .content-block .col-50 {
          width: 45%; }
  #officemanager .content .m_content .tab-content ul {
    max-height: 25rem;
    overflow: auto; }

  #infomanage #s_hospital {
    width: 60%; }
  #infomanage textarea {
    height: 20rem; }
  #infomanage p {
    margin: 1rem; }

  #manager .echars-content {
    height: 31rem; }
    #manager .echars-content #countAppoint {
      width: 100%;
      height: 7rem; }
    #manager .echars-content #todayTime, #manager .echars-content #weekTime {
      width: 100%;
      height: 12rem; }
  #manager #countDepart {
    height: 31rem;
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
