<div class="page" id="manager">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <h1 class="title title_1">预约管理</h1>
    </header>
    <!-- 内容区 -->
    <div class="content content_1 pull-to-refresh-content" data-ptr-distance="55">

        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>

        <!-- 预约列表 -->
        <div class="card" ng-repeat="x in appointmentList">
            <div class="card-header">预约编号:{{x.id}}</div>
            <div class="card-content">
                <div class="list-block media-list">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{x.date}}</div>
                                    <div class="item-after">{{x.time}}</div>
                                </div>
                                <div class="item-subtitle">预约地点:{{x.address}}</div>
                                <div class="item-subtitle">预约患者:{{x.name}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <span class="button-green {{x.name == '暂未预约' ? 'button-grey' : ''}}" ng-click="finishAppointment()">完成</span>
                <span class="button-red" ng-click="cancelAppointment()">取消</span>
            </div>
        </div>

        <div class="content-padded layCenter" ng-if="!appointmentList.length">
            <img src="../img/nodata.png">
            <h1>暂无数据</h1>
        </div>

    </div>

</div>

<!-- 工具栏 -->
<nav class="bar bar-tab bar_tab_2">
    <a class="tab-item" href="#/doctor">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item active" href="#/manager">
        <span class="icon icon-friends"></span>
        <span class="tab-label">管理</span>
    </a>
    <a class="tab-item" href="#/setting">
        <span class="icon icon-settings"></span>
        <span class="tab-label">设置</span>
    </a>
</nav>